In [18]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from __future__ import division
import missingno as msno
import xgboost
import numpy as np
import lightgbm
import xgboost
from sklearn.model_selection import StratifiedKFold, GridSearchCV

In [2]:
from imblearn.over_sampling import SMOTE

In [3]:
from utils import *

In [4]:
pd.set_option('display.max_colwidth', -1)

In [5]:
pd.set_option('display.max_columns', 50)

In [6]:
test = pd.read_csv('application_test.csv')

In [123]:
print 'Reading train ...'
train = pd.read_csv('application_train.csv')
print 'Shape of train is %s'%(str(train.shape))
bureau_balance = pd.read_csv('bureau_balance.csv')
print 'The shape of bureau_balance is %s'%(str(bureau_balance.shape))
credit_card_balance = pd.read_csv('credit_card_balance.csv')
print 'The shape of creditcard_balance is %s'%(str(credit_card_balance.shape))
installments_payments = pd.read_csv('installments_payments.csv')
print 'The shape of installments_payments is %s'%(str(installments_payments.shape))
pos_cash_balance = pd.read_csv('POS_CASH_balance.csv')
print 'The shape of pos_cash_balance is %s'%(str(pos_cash_balance.shape))
previous_application = pd.read_csv('previous_application.csv')
print 'The shape of previous_application is %s'%(str(previous_application.shape))
descriptions = pd.read_csv('HomeCredit_columns_description.csv')
print 'The shape of descriptions is %s'%(str(descriptions.shape))
bureau = pd.read_csv('bureau.csv')
print 'The shape of bureau is %s'%(str(bureau.shape))
print 'Done!'

Reading train ...
Shape of train is (307511, 122)
The shape of bureau_balance is (27299925, 3)
The shape of creditcard_balance is (3840312, 23)
The shape of installments_payments is (13605401, 8)
The shape of pos_cash_balance is (10001358, 8)
The shape of previous_application is (1670214, 37)
The shape of descriptions is (219, 5)
The shape of bureau is (1716428, 17)
Done!

In [122]:
descriptions.Row.value_counts()[2:14]

NAME_CONTRACT_STATUS          3
MONTHS_BALANCE                3
AMT_ANNUITY                   3
HOUR_APPR_PROCESS_START       2
SK_BUREAU_ID                  2
SK_DPD                        2
NAME_TYPE_SUITE               2
SK_DPD_DEF                    2
WEEKDAY_APPR_PROCESS_START    2
NAME_CONTRACT_TYPE            2
AMT_CREDIT                    2
AMT_GOODS_PRICE               2
Name: Row, dtype: int64

In [141]:
descriptions[descriptions.Row == "AMT_GOODS_PRICE"]

,Unnamed: 0,Table,Row,Description,Special
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the goods for which the loan is given,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if applicable) on the previous application,NaN

Renaming colums which are similar

In [124]:
pos_cash_balance['NAME_CONTRACT_STATUS_POS'] = pos_cash_balance.NAME_CONTRACT_STATUS
pos_cash_balance = pos_cash_balance.drop(['NAME_CONTRACT_STATUS'], axis=1)
credit_card_balance['NAME_CONTRACT_STATUS_CRED'] = credit_card_balance.NAME_CONTRACT_STATUS
credit_card_balance = credit_card_balance.drop(['NAME_CONTRACT_STATUS'], axis=1)
previous_application['NAME_CONTRACT_STATUS_PREV'] = previous_application.NAME_CONTRACT_STATUS
previous_application= previous_application.drop(['NAME_CONTRACT_STATUS'], axis=1)

In [125]:
bureau_balance['MONTHS_BALANCE_BUR'] = bureau_balance.MONTHS_BALANCE
bureau_balance = bureau_balance.drop(['MONTHS_BALANCE'], axis=1)
pos_cash_balance['MONTHS_BALANCE_POS'] = pos_cash_balance.MONTHS_BALANCE
pos_cash_balance = pos_cash_balance.drop(['MONTHS_BALANCE'], axis=1)
credit_card_balance['MONTHS_BALANCE_CRED'] = credit_card_balance.MONTHS_BALANCE
credit_card_balance = credit_card_balance.drop(['MONTHS_BALANCE'], axis=1)

In [131]:
previous_application['HOUR_APPR_PROCESS_START_PREV'] = previous_application.HOUR_APPR_PROCESS_START
previous_application = previous_application.drop(['HOUR_APPR_PROCESS_START'], axis=1)

In [133]:
previous_application['NAME_TYPE_SUITE_PREV'] = previous_application.NAME_TYPE_SUITE
previous_application = previous_application.drop(['NAME_TYPE_SUITE'], axis=1)

In [137]:
previous_application['WEEKDAY_APPR_PROCESS_START_PREV'] = previous_application.WEEKDAY_APPR_PROCESS_START
previous_application = previous_application.drop(['WEEKDAY_APPR_PROCESS_START'], axis=1)

In [139]:
previous_application['NAME_CONTRACT_TYPE_PREV'] = previous_application.NAME_CONTRACT_TYPE
previous_application = previous_application.drop(['NAME_CONTRACT_TYPE'], axis=1)

In [ ]:
previous_application['AMT_CREDIT_PREV'] = previous_application.AMT_CREDIT
previous_application = previous_application.drop(['AMT_CREDIT'], axis=1)

In [ ]:
previous_application['AMT_CREDIT_PREV'] = previous_application.AMT_CREDIT
previous_application = previous_application.drop(['AMT_CREDIT'], axis=1)

In [135]:
pos_cash_balance['SK_DPD_DEF_POS'] = pos_cash_balance.SK_DPD_DEF
pos_cash_balance = pos_cash_balance.drop(['SK_DPD_DEF'], axis=1)

In [26]:
X_train = train.drop(['TARGET', 'SK_ID_CURR'], axis=1)
y_train = train.TARGET

In [27]:
X_train.columns

Index([u'NAME_CONTRACT_TYPE', u'CODE_GENDER', u'FLAG_OWN_CAR',
       u'FLAG_OWN_REALTY', u'CNT_CHILDREN', u'AMT_INCOME_TOTAL', u'AMT_CREDIT',
       u'AMT_ANNUITY', u'AMT_GOODS_PRICE', u'NAME_TYPE_SUITE',
       ...
       u'FLAG_DOCUMENT_18', u'FLAG_DOCUMENT_19', u'FLAG_DOCUMENT_20',
       u'FLAG_DOCUMENT_21', u'AMT_REQ_CREDIT_BUREAU_HOUR',
       u'AMT_REQ_CREDIT_BUREAU_DAY', u'AMT_REQ_CREDIT_BUREAU_WEEK',
       u'AMT_REQ_CREDIT_BUREAU_MON', u'AMT_REQ_CREDIT_BUREAU_QRT',
       u'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=120)

In [ ]:
from xgboost import XGBClassifier
model = XGBClassifier()
n_estimators = range(50, 400, 50)
max_depth = range(50, 100, 2)
param_grid = dict(max_depth=max_depth, n_estimators=n_estimators)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
grid_search = GridSearchCV(model, param_grid, cv=kfold, n_jobs=-1)
# grid_result = grid_search.fit(X_train, y_train)

In [8]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [11]:
bureau[bureau.CREDIT_DAY_OVERDUE == 0].shape

(1712211, 17)

In [12]:
bureau.shape

(1716428, 17)

In [13]:
my_utils = MyUtils(bureau)

In [14]:
my_utils.printColDesc()

SK_ID_BUREAU []
CREDIT_ACTIVE ['Status of the Credit Bureau (CB) reported credits']
CREDIT_CURRENCY ['Recoded currency of the Credit Bureau credit']
DAYS_CREDIT ['How many days before current application did client apply for Credit Bureau credit']
CREDIT_DAY_OVERDUE ['Number of days past due on CB credit at the time of application for related loan in our sample']
DAYS_CREDIT_ENDDATE ['Remaining duration of CB credit (in days) at the time of application in Home Credit']
DAYS_ENDDATE_FACT ['Days since CB credit ended at the time of application in Home Credit (only for closed credit)']
AMT_CREDIT_MAX_OVERDUE ['Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)']
CNT_CREDIT_PROLONG ['How many times was the Credit Bureau credit prolonged']
AMT_CREDIT_SUM ['Current credit amount for the Credit Bureau credit']
AMT_CREDIT_SUM_DEBT ['Current debt on Credit Bureau credit']
AMT_CREDIT_SUM_LIMIT ['Current credit limit of credit card reported in Credit Bureau']
AMT_CREDIT_SUM_OVERDUE ['Current amount overdue on Credit Bureau credit']
CREDIT_TYPE ['Type of Credit Bureau credit (Car, cash,...)']
DAYS_CREDIT_UPDATE ['How many days before loan application did last information about the Credit Bureau credit come']
AMT_ANNUITY ['Loan annuity' 'Annuity of the Credit Bureau credit'
 'Annuity of previous application']

In [ ]:
previous_application.NAME_CONTRACT_STATUS.value_counts()

In [ ]:
previous_application.head()

In [ ]:
train.head()

In [9]:
my_utils = MyUtils(bureau)

In [213]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [219]:
bureau.CREDIT_TYPE.value_counts()

Consumer credit                                 1251615
Credit card                                     402195
Car loan                                        27690
Mortgage                                        18391
Microloan                                       12413
Loan for business development                   1975
Another type of loan                            1017
Unknown type of loan                            555
Loan for working capital replenishment          469
Cash loan (non-earmarked)                       56
Real estate loan                                27
Loan for the purchase of equipment              19
Loan for purchase of shares (margin lending)    4
Interbank credit                                1
Mobile operator loan                            1
Name: CREDIT_TYPE, dtype: int64

In [ ]:
my_utils.printColDesc()

In [100]:
bureau.CREDIT_ACTIVE.value_counts()

Closed      1079273
Active      630607
Sold        6527
Bad debt    21
Name: CREDIT_ACTIVE, dtype: int64

### Columns with Levels needs to be unstacked after group by
<strong>This is to get pure columns. It is almost like creating dummies</strong>

In [39]:
bur_grp_df =bureau.groupby('SK_ID_CURR').CREDIT_ACTIVE.value_counts().unstack()
bur_grp_df.columns = ['credit_active', 'credit_bad_debt', 'credit_closed', 'credit_sold']
bur_grp_df = bur_grp_df.fillna(value=0).reset_index()

In [40]:
bur_curr_df = bureau.groupby('SK_ID_CURR').CREDIT_CURRENCY.value_counts().unstack()
bur_curr_df.columns = ['currency1', 'currency2', 'currency3', 'currency4']
bur_curr_df = bur_curr_df.fillna(value=0).reset_index()

In [41]:
bur_credtype_df = bureau.groupby('SK_ID_CURR').CREDIT_TYPE.value_counts().unstack()
# bur_credtype_df.columns = ['currency1', 'currency2', 'currency3', 'currency4']
bur_credtype_df = bur_credtype_df.fillna(value=0).reset_index()

In [42]:
my_utils = MyUtils(bureau)
bur_amtcredsum_df = my_utils.groupBySkidMean('AMT_CREDIT_SUM')

In [43]:
my_utils = MyUtils(bureau)
bur_dayscredupdate_df = my_utils.groupBySkidMean('DAYS_CREDIT_UPDATE')
bur_creddayoverdue_df = my_utils.groupBySkidMean('CREDIT_DAY_OVERDUE')

In [236]:
burr_curr_df.SK_ID_CURR.isnull().value_counts()

False    305811
Name: SK_ID_CURR, dtype: int64

In [240]:
bb_cnt_df.shape

(817395, 2)

In [247]:
bb_cnt_df.bb_cnt.isnull().value_counts()

False    817395
Name: bb_cnt, dtype: int64

In [249]:
bureau_bb_cnt_df.shape

(774354, 18)

In [246]:
bureau.shape

(1716428, 17)

In [44]:
bb_cnt_df = bureau_balance.SK_ID_BUREAU.value_counts().to_frame().reset_index()
bb_cnt_df.columns = ['SK_ID_BUREAU', 'bb_cnt']

bureau_bb_cnt_df = bureau.merge(bb_cnt_df, on='SK_ID_BUREAU', how='inner')
grp_cnt_bureau_df = bureau_bb_cnt_df.groupby('SK_ID_CURR').bb_cnt.sum().to_frame().reset_index()

In [244]:
bureau.SK_ID_BUREAU.isnull().value_counts()

False    1716428
Name: SK_ID_BUREAU, dtype: int64

In [ ]:
bureau.shape

In [242]:
bureau_bb_cnt_df.bb_cnt.isnull().value_counts()

True     942074
False    774354
Name: bb_cnt, dtype: int64

In [45]:
bureau_cnt_df = bureau.SK_ID_CURR.value_counts().to_frame().reset_index()
bureau_cnt_df.columns = ['SK_ID_CURR', 'bureau_cnt']

In [ ]:
bureau_cnt_df.head()

In [ ]:
credit_card_balance[credit_card_balance.SK_ID_CURR == 186401].sort_values('MONTHS_BALANCE')

In [ ]:
installments_payments.sort_values('SK_ID_PREV').head(100)

In [ ]:
previous_application.SK_ID_PREV.value_counts()

In [ ]:
credit_card_balance.sort_values('SK_ID_PREV').head(30)
credit_card_balance[credit_card_balance.SK_ID_PREV == 1054186]

In [90]:
credit_card_balance.shape

(3840312, 23)

In [91]:
pos_cash_balance.shape

(10001358, 8)

In [92]:
installments_payments.shape

(13605401, 10)

In [ ]:
my_utils = MyUtils(credit_card_balance)
my_utils.printColDesc()

In [14]:
my_utils = MyUtils(df=credit_card_balance)

In [ ]:
my_utils.printColDesc(descriptions)

In [ ]:
previous_application.groupby('HOUR_APPR_PROCESS_START').SK_ID_CURR.count()

In [ ]:
name_contr_dmy.head()

In [ ]:
my_utils= MyUtils(previous_application)

In [34]:
my_utils = MyUtils(bureau)
bureau_cnt_df = my_utils.skidCount('bureau_')

In [39]:
bureau_cnt_df.shape

(305811, 2)

In [41]:
bureau.shape

(1716428, 17)

In [212]:
bureau.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

In [ ]:
bureau_cnt_df

In [46]:
counts = bureau_balance['SK_ID_BUREAU'].value_counts().reset_index()
burbal_df = pd.DataFrame(counts)
burbal_df.columns = ['SK_ID_BUREAU',  'bureau_cnt']

In [47]:
bureau[['SK_ID_CURR', 'SK_ID_BUREAU']].merge(burbal_df, on='SK_ID_BUREAU', how='left') \
            .bureau_cnt.isnull().value_counts()

True     942074
False    774354
Name: bureau_cnt, dtype: int64

### Merging Bureau and Bureau balance
Remember that each one sk_id_curr is asoociated with many sk_id_bureau which in turn has monthly records so will have to multiply both

In [48]:
#merge bureau and bureau_balance
bureau_burbal = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']].merge(burbal_df, on='SK_ID_BUREAU', how='left')
bureau_burbal.bureau_cnt = bureau_burbal.bureau_cnt.fillna(value=0)
bureau_burbal_df = bureau_burbal.groupby('SK_ID_CURR').bureau_cnt.sum().reset_index()

In [37]:
burbal_df.shape

(817395, 2)

In [38]:
train.shape[0] + test.shape[0]

356255

### Count of sk_id_curr in previous applications

In [49]:
prev_app_cnt = previous_application.SK_ID_CURR.value_counts().reset_index()
prev_app_cnt_df = pd.DataFrame(prev_app_cnt)
prev_app_cnt_df.columns = ['SK_ID_CURR', 'prev_app_cnt']

### Count of skidcurr in credit card balance

In [50]:
cred_cnt = credit_card_balance.SK_ID_CURR.value_counts().reset_index()
cred_cnt_df = pd.DataFrame(cred_cnt)
cred_cnt_df.columns = ['SK_ID_CURR', 'cred_cnt']

In [51]:
my_utils = MyUtils(df=credit_card_balance)
amt_balance_df = my_utils.groupBySkidMean('AMT_BALANCE')

In [48]:
amt_balance_df.head()

   SK_ID_CURR   AMT_BALANCE
0  100006      0.000000
1  100011      54482.111149
2  100013      18159.919219
3  100021      0.000000
4  100023      0.000000

In [52]:
#name_contr_df
nam_contr = previous_application[['SK_ID_CURR', 'NAME_CONTRACT_TYPE']]
name_contr_dmy = pd.get_dummies(nam_contr)

my_utils = MyUtils(name_contr_dmy)
cash_df = my_utils.groupBySkidCount('NAME_CONTRACT_TYPE_Cash loans')
consumer_df = my_utils.groupBySkidCount('NAME_CONTRACT_TYPE_Consumer loans')
revolving_df = my_utils.groupBySkidCount('NAME_CONTRACT_TYPE_Revolving loans')
xna_df = my_utils.groupBySkidCount('NAME_CONTRACT_TYPE_XNA')

In [53]:
my_utils = MyUtils(previous_application)
cnt_payment_df = my_utils.groupBySkidMean('CNT_PAYMENT')

In [54]:
my_utils = MyUtils(previous_application)
amt_goods_price_df = my_utils.groupBySkidMean('AMT_GOODS_PRICE')
amt_annuity_df = my_utils.groupBySkidMean('AMT_ANNUITY')

previous_application['app_cred_diff'] = previous_application.AMT_APPLICATION - previous_application.AMT_CREDIT
app_cred_diff_df = my_utils.groupBySkidMean('app_cred_diff')
amt_credit_df = my_utils.groupBySkidMean('AMT_CREDIT')

In [55]:
cols_select = ['SK_ID_CURR', 'NAME_CONTRACT_STATUS']
prevapp_select = previous_application[cols_select]
prevapp_sel_dmy = pd.get_dummies(prevapp_select)

In [56]:
prevapp_sel_dmy.head()

,SK_ID_CURR,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Refused,NAME_CONTRACT_STATUS_Unused offer
0,271877,1,0,0,0
1,108129,1,0,0,0
2,122040,1,0,0,0
3,176158,1,0,0,0
4,202054,0,0,1,0

In [57]:
prevapp_sel_dmy['NAME_CONTRACT_STATUS_Unused'] = prevapp_sel_dmy['NAME_CONTRACT_STATUS_Unused offer']

In [58]:
my_utils = MyUtils(prevapp_sel_dmy)
cancelled_df = my_utils.groupBySkidCount('NAME_CONTRACT_STATUS_Canceled')
unused_df = my_utils.groupBySkidCount('NAME_CONTRACT_STATUS_Unused')
appr_df = my_utils.groupBySkidCount('NAME_CONTRACT_STATUS_Approved')
refused_df = my_utils.groupBySkidCount('NAME_CONTRACT_STATUS_Refused')

In [59]:
my_utils = MyUtils(pos_cash_balance)
count_contract_status_df = my_utils.groupBySkidCount('NAME_CONTRACT_STATUS')
future_df = my_utils.groupBySkidCount('CNT_INSTALMENT_FUTURE')

In [60]:
installments_payments['diff_amount'] = installments_payments.AMT_INSTALMENT - installments_payments.AMT_PAYMENT
installments_payments['diff_days'] = installments_payments.DAYS_INSTALMENT - installments_payments.DAYS_ENTRY_PAYMENT
my_utils = MyUtils(installments_payments)
diff_days_mean_df = my_utils.groupBySkidMean('diff_days')
diff_amt_mean_df = my_utils.groupBySkidMean('diff_amount')

In [58]:
my_imputer = MyUtils(previous_application)

In [ ]:
my_imputer.printColDesc(descriptions)

In [61]:
assert amt_credit_df.shape[0] == 338857

In [62]:
train_x = train.drop(['TARGET'], axis=1)

In [63]:
assert train_x.shape[1] == test.shape[1]

In [64]:
concatted = pd.concat([train_x, test])

In [65]:
assert installments_payments[installments_payments.diff_amount.isnull()].shape[0] == installments_payments[installments_payments.diff_days.isnull()].shape[0]

In [66]:
#Since they share same rows, joint them
join_amt_days = diff_amt_mean_df.merge(diff_days_mean_df, on='SK_ID_CURR', how='inner')

In [67]:
prev_app_cnt_df.shape

(338857, 2)

In [68]:
cred_cnt_df.shape

(103558, 2)

In [69]:
pos_cash_balance.SK_ID_CURR.value_counts().shape

(337252,)

In [70]:
prev_app_cnt_df.shape

(338857, 2)

### Doing Joins with Engineered Features

In [71]:
concat_with_features = concatted.merge(future_df, on='SK_ID_CURR', how='left')  \
            .merge(join_amt_days, on='SK_ID_CURR', how='left') \
            .merge(count_contract_status_df, on='SK_ID_CURR', how='left') \
            .merge(app_cred_diff_df, on='SK_ID_CURR', how='left') \
            .merge(amt_credit_df, on='SK_ID_CURR', how='left') \
            .merge(amt_annuity_df, on='SK_ID_CURR', how='left') \
            .merge(appr_df, on='SK_ID_CURR', how='left') \
            .merge(refused_df, on='SK_ID_CURR', how='left') \
            .merge(cancelled_df, on='SK_ID_CURR', how='left') \
            .merge(amt_goods_price_df, on='SK_ID_CURR', how='left') \
            .merge(cash_df, on='SK_ID_CURR', how='left') \
            .merge(consumer_df, on='SK_ID_CURR', how='left') \
            .merge(revolving_df, on='SK_ID_CURR', how='left') \
            .merge(xna_df, on='SK_ID_CURR', how='left') \
            .merge(amt_balance_df, on='SK_ID_CURR', how='left') \
            .merge(cnt_payment_df, on='SK_ID_CURR', how='left') \
            .merge(prev_app_cnt_df, on='SK_ID_CURR', how='left') \
            .merge(cred_cnt_df, on='SK_ID_CURR', how='left') \
            .merge(bureau_burbal_df, on='SK_ID_CURR', how='left') \
            .merge(bur_grp_df, on='SK_ID_CURR', how='left') \
            .merge(bur_curr_df, on='SK_ID_CURR', how='left') \
            .merge(bur_credtype_df, on='SK_ID_CURR', how='left') \
            .merge(bur_amtcredsum_df, on='SK_ID_CURR', how='left') \
            .merge(bur_dayscredupdate_df, on='SK_ID_CURR', how='left') \
            .merge(bur_creddayoverdue_df, on='SK_ID_CURR', how='left')

In [ ]:
concat_with_features.head()

In [72]:
concat_with_features.columns.get_loc('AMT_BALANCE')

136

In [73]:
#fill nas after 138th column with zeros. lower cased column names are engineered columns
concat_with_features.iloc[:,138:] = concat_with_features.iloc[:,138:].fillna(value=0)

In [ ]:
concat_with_features.AMT_BALANCE.isnull().value_counts()

In [74]:
#cred_cnt is null for some ids (?they didn't take credit)
concat_with_features.cred_cnt = concat_with_features.cred_cnt.fillna(value=0)
concat_with_features.bureau_cnt = concat_with_features.bureau_cnt.fillna(value=0)

In [85]:
concat_with_features.bureau_cnt.isnull().value_counts()

False    356255
Name: bureau_cnt, dtype: int64

In [75]:
y_train = train.TARGET

In [76]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
clf = RandomForestClassifier()
# clf = LogisticRegression()

In [77]:
concat_with_features_drop = concat_with_features.drop('SK_ID_CURR', axis=1)

In [78]:
dummied = pd.get_dummies(concat_with_features_drop)

In [79]:
imputed = my_imputer.fit_transform(dummied)

In [80]:
imputed_df = pd.DataFrame(imputed)
imputed_df.columns = dummied.columns

### Split the test and train back

In [81]:
new_x_train_df = imputed_df[:train_x.shape[0]]
new_test_df = imputed_df[train_x.shape[0]:]

In [83]:
assert new_x_train_df.shape[0] == train.shape[0]

In [92]:
descriptions.columns

Index([u'Unnamed: 0', u'Table', u'Row', u'Description', u'Special'], dtype='object')

In [94]:
descriptions[descriptions.Row == 'NAME_CONTRACT_TYPE']

,Unnamed: 0,Table,Row,Description,Special
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
175,178,previous_application.csv,NAME_CONTRACT_TYPE,"Contract product type (Cash loan, consumer loan [POS] ,...) of the previous application",NaN

In [101]:
descriptions.Row.value_counts()

SK_ID_CURR                      6
SK_ID_PREV                      4
NAME_CONTRACT_STATUS            3
MONTHS_BALANCE                  3
AMT_ANNUITY                     3
HOUR_APPR_PROCESS_START         2
SK_BUREAU_ID                    2
SK_DPD                          2
NAME_TYPE_SUITE                 2
SK_DPD_DEF                      2
WEEKDAY_APPR_PROCESS_START      2
NAME_CONTRACT_TYPE              2
AMT_CREDIT                      2
AMT_GOODS_PRICE                 2
FLAG_DOCUMENT_17                1
FLAG_DOCUMENT_18                1
CNT_CHILDREN                    1
NFLAG_INSURED_ON_APPROVAL       1
REGION_RATING_CLIENT_W_CITY     1
CNT_DRAWINGS_OTHER_CURRENT      1
FLAG_DOCUMENT_19                1
CNT_PAYMENT                     1
FLAG_DOCUMENT_12                1
FLAG_DOCUMENT_16                1
NONLIVINGAPARTMENTS_AVG         1
DAYS_DECISION                   1
FLAG_DOCUMENT_10                1
FLAG_DOCUMENT_11                1
REG_REGION_NOT_LIVE_REGION      1
FLAG_DOCUMENT_21                1
                               ..
CNT_DRAWINGS_CURRENT            1
FLAG_LAST_APPL_PER_CONTRACT     1
AMT_REQ_CREDIT_BUREAU_DAY       1
DAYS_TERMINATION                1
FLAG_EMP_PHONE                  1
AMT_INSTALMENT                  1
NONLIVINGAPARTMENTS_MEDI        1
DAYS_CREDIT_UPDATE              1
YEARS_BEGINEXPLUATATION_AVG     1
APARTMENTS_MODE                 1
HOUSETYPE_MODE                  1
DEF_60_CNT_SOCIAL_CIRCLE        1
RATE_INTEREST_PRIVILEGED        1
FLAG_WORK_PHONE                 1
FLOORSMAX_MODE                  1
NAME_PAYMENT_TYPE               1
NUM_INSTALMENT_NUMBER           1
AMT_RECEIVABLE_PRINCIPAL        1
AMT_CREDIT_SUM                  1
AMT_PAYMENT_TOTAL_CURRENT       1
FLAG_DOCUMENT_7                 1
FLAG_DOCUMENT_6                 1
FLAG_DOCUMENT_5                 1
FLAG_DOCUMENT_4                 1
FLAG_DOCUMENT_3                 1
DAYS_LAST_PHONE_CHANGE          1
NFLAG_MICRO_CASH                1
FLAG_OWN_CAR                    1
ENTRANCES_MODE                  1
YEARS_BEGINEXPLUATATION_MODE    1
Name: Row, Length: 196, dtype: int64

In [89]:
unique = imputed_df.columns.unique().values; non_unique = imputed_df.columns.values

In [99]:
imputed_df.columns.value_counts()[:3]

NAME_CONTRACT_TYPE_Cash loans         2
NAME_CONTRACT_TYPE_Revolving loans    2
HOUSETYPE_MODE_block of flats         1
dtype: int64

### Initiate XGBoost Classifier

In [ ]:
from xgboost import XGBClassifier
model = XGBClassifier()
n_estimators = range(50, 400, 50)
max_depth = range(50, 100, 2)
param_grid = dict(max_depth=max_depth, n_estimators=n_estimators)
kfold = StratifiedKFold(n_splits=10, shuffle=True, random_state=7)
grid_search = GridSearchCV(model, param_grid, cv=kfold, n_jobs=-1)
grid_result = grid_search.fit(new_x_train_df, y_train)
print 'Best %s using %s'%(str(grid_result.best_score_), str(grid_result.best_params_))

In [401]:
new_x_train_df['TARGET'] = train.TARGET

/home/pranay/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [402]:

train_zeros = new_x_train_df[new_x_train_df.TARGET == 0]
train_ones = new_x_train_df[new_x_train_df.TARGET == 1]
sampled_indices = np.random.choice(train_zeros.index, size=[11, train_ones.shape[0]], replace=False)
print 'shape of sampled indices is %s'%(str(sampled_indices.shape))
test_dropid = new_test_df
ensembled = np.zeros([11, test.shape[0]])
preds_list = []
for i in range(11):
    print 'starting %s th sample'%(str(i))
    new_train = pd.concat([train_zeros.loc[sampled_indices[i]], train_ones])
    train_y = new_train.TARGET
    train_x = new_train.drop(['TARGET'], axis=1)
    
    concatted = pd.concat([train_x, test_dropid])
    concatted_dummied = pd.get_dummies(concatted)
    imputed_concatted = my_imputer.fit_transform(concatted_dummied)
    imputed_concatted_df = pd.DataFrame(imputed_concatted)
    imputed_concatted_df.columns = concatted_dummied.columns
    #split them back to train and test
    train_x_after_impute = imputed_concatted_df[:train_x.shape[0]]
    test_x = imputed_concatted_df[train_x.shape[0]:]
    clf.fit(train_x_after_impute, train_y)
    preds = clf.predict_proba(test_x)
    pred_actual = preds[:,1]
    ensembled[i] = pred_actual

shape of sampled indices is (11, 24825)
starting 0 th sample
starting 1 th sample
starting 2 th sample
starting 3 th sample
starting 4 th sample
starting 5 th sample
starting 6 th sample
starting 7 th sample
starting 8 th sample
starting 9 th sample
starting 10 th sample

In [105]:
dropped = new_x_train_df.drop(['TARGET'], axis=1)
x_resampled, y_resampled = SMOTE().fit_sample(dropped, y_train)
clf.fit(x_resampled, y_resampled)
predicts = clf.predict_log_proba(new_test_df)

/home/pranay/tensorflow/local/lib/python2.7/site-packages/sklearn/ensemble/forest.py:623: RuntimeWarning: divide by zero encountered in log
  return np.log(proba)

In [403]:
meaned = np.mean(ensembled, axis=0)
assert meaned.shape[0] == 48744

In [ ]:
clf.fit(x_resampled, y_resampled)

In [203]:
preds = clf.predict_proba(new_test)
pred_actual = preds[:,1]

In [ ]:
assert len(not_included) == test.shape[0] - test_merged.shape[0]

In [404]:
preds_df = pd.DataFrame(meaned)
subm = pd.concat([test.SK_ID_CURR, preds_df], axis=1)
subm.columns = ['SK_ID_CURR', 'TARGET']

In [405]:
subm_csv = subm.to_csv('submission.csv', sep=',', index=False)

In [406]:
%mv submission.csv /home/pranay/Downloads/

In [266]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [ ]:
pos_cash_balance.SK_ID_CURR.value_counts()

In [ ]:
credit_card_balance.SK_ID_CURR.value_counts()

In [ ]:
previous_application.SK_ID_CURR.value_counts()

In [165]:
for col in credit_card_balance

float64    15
int64      7
object     1
dtype: int64

In [167]:
credit_card_balance.SK_ID_CURR.dtype == 'in'

True

In [227]:
assert new_train.shape[0] == train_ones.shape[0] * 2

In [147]:
floats = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'float64']
ints = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'int64']
objectly = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'object']

In [94]:
floats = floats.fillna(floats.mean())
ints = ints.fillna(ints.mean())

In [101]:
assert floats.shape[0] == concatted.shape[0]

In [ ]:
get_nulls(ints)

In [243]:
pred_actual_df = pd.DataFrame(pred_actual)

In [244]:
subm = pd.concat([test.SK_ID_CURR, pred_actual_df], axis=1)

In [245]:
subm.columns = ['SK_ID_CURR', 'TARGET']

In [246]:
subm.columns

Index([u'SK_ID_CURR', u'TARGET'], dtype='object')

In [247]:
subm_csv = subm.to_csv('submission.csv', sep=',', index=False)

In [123]:
%cp sample_submission.csv /home/pranay/Downloads/

In [105]:
sample = pd.read_csv('sample_submission.csv', sep=',')

In [104]:
subm.shape

(48744, 2)

In [ ]:
# sample
subm.TARGET.value_counts().plot.bar()

In [58]:
train_y.value_counts()

0    282686
1    24825
Name: TARGET, dtype: int64

In [187]:
imputed_concatted.shape

(356255, 245)

In [ ]:
get_nulls(concatted_dummied)

In [ ]:
get_nulls(ints)

In [ ]:
objectly = objectly.fillna(objectly.mode())

In [130]:
get_nulls(objectly)

CODE_GENDER                   0.000000
EMERGENCYSTATE_MODE           47.147128
FLAG_OWN_CAR                  0.000000
FLAG_OWN_REALTY               0.000000
FONDKAPREMONT_MODE            68.235393
HOUSETYPE_MODE                49.940632
NAME_CONTRACT_TYPE            0.000000
NAME_EDUCATION_TYPE           0.000000
NAME_FAMILY_STATUS            0.000000
NAME_HOUSING_TYPE             0.000000
NAME_INCOME_TYPE              0.000000
NAME_TYPE_SUITE               0.618377
OCCUPATION_TYPE               31.437032
ORGANIZATION_TYPE             0.000000
WALLSMATERIAL_MODE            50.591290
WEEKDAY_APPR_PROCESS_START    0.000000
dtype: float64

In [131]:
objectly.EMERGENCYSTATE_MODE.fillna(objectly.EMERGENCYSTATE_MODE.mode())

0        No
1        No
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       No
13       No
14       No
15       NaN
16       NaN
17       NaN
18       No
19       NaN
20       No
21       NaN
22       No
23       No
24       No
25       No
26       Yes
27       NaN
28       NaN
29       No
         ..
48714    No
48715    NaN
48716    No
48717    NaN
48718    No
48719    No
48720    No
48721    NaN
48722    NaN
48723    NaN
48724    No
48725    NaN
48726    NaN
48727    No
48728    NaN
48729    NaN
48730    NaN
48731    No
48732    No
48733    No
48734    NaN
48735    No
48736    No
48737    No
48738    No
48739    NaN
48740    NaN
48741    No
48742    No
48743    NaN
Name: EMERGENCYSTATE_MODE, Length: 356255, dtype: object

In [ ]:
msno.matrix(objectly)

In [ ]:
less_nulls_concat.dtypes.value_counts()

In [ ]:
concatted.loc[:, concatted[less]

In [67]:
assert concatted.shape[0] == train.shape[0] + test.shape[0]

In [ ]:
credit_card_balance.head()

In [45]:
credit_card_balance[credit_card_balance.SK_ID_CURR == 186401].sort_values(by='MONTHS_BALANCE').head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2019431,1440617,186401,-96,22737.915,112500,0.0,0.0,0.0,0.0,6750.0,96750.0,96750.0,19811.34,22737.915,22737.915,0.0,0,0.0,0.0,15.0,Active,0,0
1476656,2243411,186401,-96,47700.000,180000,45000.0,45000.0,0.0,0.0,NaN,0.0,0.0,45000.00,48996.000,48996.000,2.0,2,0.0,0.0,NaN,Active,0,0
1803594,1440617,186401,-95,30.375,112500,0.0,0.0,0.0,0.0,6750.0,25290.0,25290.0,0.00,0.000,0.000,0.0,0,0.0,0.0,16.0,Active,0,0
2284738,2243411,186401,-95,180277.650,180000,135000.0,135000.0,0.0,0.0,9000.0,9000.0,9000.0,174996.00,178981.650,178981.650,8.0,8,0.0,0.0,1.0,Active,0,0
1473970,2243411,186401,-94,175450.725,180000,0.0,0.0,0.0,0.0,9000.0,9000.0,9000.0,169981.65,175450.725,175450.725,0.0,0,0.0,0.0,2.0,Active,0,0

In [23]:
count_credit = credit_card_balance.groupby('SK_ID_CURR').SK_ID_CURR.count().sort_values(ascending=False).to_frame()

In [ ]:
credit_card_balance.groupby('SK_ID_PREV').SK_ID_PREV.count().sort_values(ascending=False)

In [31]:
count_credit = credit_card_balance.groupby('SK_ID_CURR').SK_ID_CURR.count().sort_values(ascending=False)

In [ ]:
count_credit

In [24]:
count_credit['COUNT'] = count_credit.SK_ID_CURR

In [25]:
count_credit['SK_ID_CURR'] = count_credit.index

In [121]:
merged = pd.merge(train, count_credit, how='inner', on='SK_ID_CURR')

In [26]:
merge_test = pd.merge(test, count_credit, how='inner', on='SK_ID_CURR')

In [ ]:
assert merge_test.shape[0] == test.shape[0]

In [122]:
merged.columns

Index([u'SK_ID_CURR', u'TARGET', u'NAME_CONTRACT_TYPE', u'CODE_GENDER',
       u'FLAG_OWN_CAR', u'FLAG_OWN_REALTY', u'CNT_CHILDREN',
       u'AMT_INCOME_TOTAL', u'AMT_CREDIT', u'AMT_ANNUITY',
       ...
       u'FLAG_DOCUMENT_19', u'FLAG_DOCUMENT_20', u'FLAG_DOCUMENT_21',
       u'AMT_REQ_CREDIT_BUREAU_HOUR', u'AMT_REQ_CREDIT_BUREAU_DAY',
       u'AMT_REQ_CREDIT_BUREAU_WEEK', u'AMT_REQ_CREDIT_BUREAU_MON',
       u'AMT_REQ_CREDIT_BUREAU_QRT', u'AMT_REQ_CREDIT_BUREAU_YEAR', u'COUNT'],
      dtype='object', length=123)

In [123]:
merged.COUNT.isnull().value_counts()

False    86905
Name: COUNT, dtype: int64

In [ ]:
[ col for col in credit_card_balance.SK_ID_CURR.unique() if col not in train.SK_ID_CURR ]

In [11]:
train.TARGET.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [43]:
def get_description_of_columns(df):
    for col in df.columns[2:]:
        print col, descriptions[descriptions.Row == str(col)].Description.values

In [ ]:
get_description_of_columns(credit_card_balance)

In [ ]:
for col in credit_card_balance.columns[2:]:
    print col, descriptions[descriptions.Row == str(col)].Description.values

In [39]:
descriptions.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [ ]:
train.groupby(['TARGET'])['NAME_CONTRACT_TYPE'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['CODE_GENDER'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['FLAG_OWN_CAR'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['FLAG_OWN_REALTY'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['CNT_CHILDREN'].value_counts(normalize=True)

In [ ]:
msno.matrix(train[:10000])

In [ ]:
train.head()

In [30]:
train.shape

(307511, 122)

In [58]:
nulls = train.isnull().sum() * 100/train.shape[0]

In [50]:
null_test = test.isnull().sum() * 100/test.shape[0]

In [51]:
above_fifty_null_test = null_test[null_test > 50].index

In [61]:
less_nulls_test = null_test[null_test < 50].index
less_nulls_train = null_test[null_test < 50].index

In [ ]:
msno.matrix(test[less_nulls_test])

In [ ]:
msno.matrix(train[less_nulls_train])

In [52]:
above_fifty_null_test

Index([u'OWN_CAR_AGE', u'BASEMENTAREA_AVG', u'YEARS_BUILD_AVG',
       u'COMMONAREA_AVG', u'ELEVATORS_AVG', u'FLOORSMIN_AVG', u'LANDAREA_AVG',
       u'LIVINGAPARTMENTS_AVG', u'NONLIVINGAPARTMENTS_AVG',
       u'NONLIVINGAREA_AVG', u'BASEMENTAREA_MODE', u'YEARS_BUILD_MODE',
       u'COMMONAREA_MODE', u'ELEVATORS_MODE', u'FLOORSMIN_MODE',
       u'LANDAREA_MODE', u'LIVINGAPARTMENTS_MODE', u'NONLIVINGAPARTMENTS_MODE',
       u'NONLIVINGAREA_MODE', u'BASEMENTAREA_MEDI', u'YEARS_BUILD_MEDI',
       u'COMMONAREA_MEDI', u'ELEVATORS_MEDI', u'FLOORSMIN_MEDI',
       u'LANDAREA_MEDI', u'LIVINGAPARTMENTS_MEDI', u'NONLIVINGAPARTMENTS_MEDI',
       u'NONLIVINGAREA_MEDI', u'FONDKAPREMONT_MODE'],
      dtype='object')

In [ ]:
above_fifty_nulls = nulls[nulls > 50].index
above_fifty_nulls

In [ ]:
[ col for col in above_fifty_nulls if col not in above_fifty_null_test ]

In [57]:
remove_nulls = train.drop(above_fifty_nulls, axis=1)

In [58]:
assert remove_nulls.shape[1] == train.shape[1] - above_fifty_nulls.shape[0]

In [ ]:
msno.matrix(remove_nulls)

In [ ]:
msno.matrix(remove_nulls.iloc[:100, 40:60])

In [ ]:
remove_nulls.isnull().sum() * 100 /(remove_nulls.shape[0])

In [ ]:
for col in remove_nulls.columns[remove_nulls.dtypes == 'object'].values:
    print remove_nulls.groupby(['TARGET'])[str(col)].value_counts(normalize=True)

In [79]:
remove_nulls.dtypes.value_counts()

int64      41
float64    27
object     13
dtype: int64

In [8]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for col in previous_application.columns.values:
    print col, descriptions[descriptions.Row == str(col)].Description.unique()

In [46]:
previous_application[previous_application.columns[previous_application.dtypes == 'float64'].values].head()

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,1730.430,17145.0,17145.0,0.0,17145.0,0.0,0.182832,0.867336,12.0,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,25188.615,607500.0,679671.0,NaN,607500.0,NaN,NaN,NaN,36.0,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,15060.735,112500.0,136444.5,NaN,112500.0,NaN,NaN,NaN,12.0,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,47041.335,450000.0,470790.0,NaN,450000.0,NaN,NaN,NaN,12.0,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,31924.395,337500.0,404055.0,NaN,337500.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
previous_application[previous_application.columns[previous_application.dtypes == 'float64']].isnull().sum()

AMT_ANNUITY                  372235
AMT_APPLICATION              0
AMT_CREDIT                   1
AMT_DOWN_PAYMENT             895844
AMT_GOODS_PRICE              385515
RATE_DOWN_PAYMENT            895844
RATE_INTEREST_PRIMARY        1664263
RATE_INTEREST_PRIVILEGED     1664263
CNT_PAYMENT                  372230
DAYS_FIRST_DRAWING           673065
DAYS_FIRST_DUE               673065
DAYS_LAST_DUE_1ST_VERSION    673065
DAYS_LAST_DUE                673065
DAYS_TERMINATION             673065
NFLAG_INSURED_ON_APPROVAL    673065
dtype: int64

In [60]:
previous_application.SK_ID_PREV.value_counts().head()

1000983    1
2428426    1
1026910    1
1024863    1
2448896    1
Name: SK_ID_PREV, dtype: int64

In [52]:
895844 * 100 / previous_application.shape[0]

53.636480115721696

In [61]:
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [28]:
previous_application.dtypes.value_counts()

object     16
float64    15
int64      6
dtype: int64

In [10]:
descriptions.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,"Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)",NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [9]:
descriptions[descriptions.Row == 'AMT_GOODS_PRICE']

,Unnamed: 0,Table,Row,Description,Special
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the goods for which the loan is given,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if applicable) on the previous application,NaN

In [ ]:
for col in remove_nulls.columns[remove_nulls.dtypes == 'float64']:
    if (col != 'SK_ID_CURR') and (col != 'TARGET'):
        print remove_nulls.groupby(['TARGET'])[str(col)].mean()

In [ ]:
#getting columns with missing values granular
ranges = [(0,30),(30,60), (60, 120)]

for i in ranges:
    msno.matrix(remove_nulls.iloc[:100, i[0]:i[1]])

In [116]:
remove_nulls.OCCUPATION_TYPE.isnull().value_counts(normalize=True)

False    0.686545
True     0.313455
Name: OCCUPATION_TYPE, dtype: float64

In [129]:
nulls = remove_nulls.isnull().sum() * 100/train.shape[0]

In [136]:
null_cols = nulls[nulls > 30].index.values

In [ ]:
#dtypes of null cols in remove_nulls data frame
for col in null_cols:
    print col, remove_nulls[str(col)].dtype

In [ ]:
#dtypes of missing cols in train
for col in nulls[nulls > 50].index.values:
    print col, train[str(col)].dtypes

In [151]:
pos_cash_balance.isnull().sum()

SK_ID_PREV               0
SK_ID_CURR               0
MONTHS_BALANCE           0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS     0
SK_DPD                   0
SK_DPD_DEF               0
dtype: int64

In [147]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
previous_application.SK_ID_CURR.value_counts().head()

187868    77
265681    73
173680    72
242412    68
206783    67
Name: SK_ID_CURR, dtype: int64

In [153]:
previous_application.isnull().sum()

SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    372235
AMT_APPLICATION                0
AMT_CREDIT                     1
AMT_DOWN_PAYMENT               895844
AMT_GOODS_PRICE                385515
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
RATE_DOWN_PAYMENT              895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_TYPE_SUITE                820405
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    372230
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            346
DAYS_FIRST_DRAWING             673065
DAYS_FIRST_DUE                 673065
DAYS_LAST_DUE_1ST_VERSION      673065
DAYS_LAST_DUE                  673065
DAYS_TERMINATION               673065
NFLAG_INSURED_ON_APPROVAL      673065
dtype: int64

In [152]:
credit_card_balance.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

In [154]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0