In [1]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from __future__ import division
import missingno as msno
import xgboost
import numpy as np
import lightgbm

/home/pranay/tensorflow/local/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
from imblearn.over_sampling import SMOTE

In [3]:
pd.set_option('display.max_colwidth', -1)

In [4]:
pd.set_option('display.max_columns', 50)

In [5]:
from utils import MyUtils

In [6]:
test = pd.read_csv('application_test.csv')

In [7]:
print 'Reading train ...'
train = pd.read_csv('application_train.csv')
print 'Shape of train is %s'%(str(train.shape))
bureau_balance = pd.read_csv('bureau_balance.csv')
print 'The shape of bureau_balance is %s'%(str(bureau_balance.shape))
credit_card_balance = pd.read_csv('credit_card_balance.csv')
print 'The shape of creditcard_balance is %s'%(str(credit_card_balance.shape))
installments_payments = pd.read_csv('installments_payments.csv')
print 'The shape of installments_payments is %s'%(str(installments_payments.shape))
pos_cash_balance = pd.read_csv('POS_CASH_balance.csv')
print 'The shape of pos_cash_balance is %s'%(str(pos_cash_balance.shape))
previous_application = pd.read_csv('previous_application.csv')
print 'The shape of previous_application is %s'%(str(previous_application.shape))
descriptions = pd.read_csv('HomeCredit_columns_description.csv')
print 'The shape of descriptions is %s'%(str(descriptions.shape))
bureau = pd.read_csv('bureau.csv')
print 'The shape of bureau is %s'%(str(bureau.shape))
print 'Done!'

Reading train ...
Shape of train is (307511, 122)
The shape of bureau_balance is (27299925, 3)
The shape of creditcard_balance is (3840312, 23)
The shape of installments_payments is (13605401, 8)
The shape of pos_cash_balance is (10001358, 8)
The shape of previous_application is (1670214, 37)
The shape of descriptions is (219, 5)
The shape of bureau is (1716428, 17)
Done!

In [12]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train_x = train.drop(['TARGET'], axis=1)

In [9]:
assert train_x.shape[1] == test.shape[1]

In [10]:
concatted = pd.concat([train_x, test])

In [285]:
count_contract_status = pos_cash_balance.groupby('SK_ID_CURR').NAME_CONTRACT_STATUS.count()
sum_cnt_inst_future = pos_cash_balance.groupby('SK_ID_CURR').CNT_INSTALMENT_FUTURE.sum()

In [245]:
count_contract_status_df = pd.DataFrame(count_contract_status)
count_contract_status_df['SK_ID_CURR'] = count_contract_status_df.index
count_contract_status_df = count_contract_status_df.rename_axis(None)

In [287]:
future_df = pd.DataFrame(sum_cnt_inst_future)
future_df['SK_ID_CURR'] = future_df.index
future_df = future_df.rename_axis(None)

In [198]:
installments_payments['diff_amount'] = installments_payments.AMT_INSTALMENT - installments_payments.AMT_PAYMENT
installments_payments['diff_days'] = installments_payments.DAYS_INSTALMENT - installments_payments.DAYS_ENTRY_PAYMENT
diff_amt_mean = installments_payments.groupby('SK_ID_CURR').diff_amount.mean()
diff_days_mean = installments_payments.groupby('SK_ID_CURR').diff_days.mean()
diff_amt_mean_df = pd.DataFrame(diff_amt_mean)
diff_days_mean_df = pd.DataFrame(diff_days_mean)

In [ ]:
assert installments_payments[installments_payments.diff_amount.isnull()].shape[0] == installments_payments[installments_payments.diff_days.isnull()].shape[0]

In [199]:
diff_days_mean_df['SK_ID_CURR'] = diff_days_mean_df.index
diff_amt_mean_df['SK_ID_CURR'] = diff_amt_mean_df.index
diff_amt_mean_df = diff_amt_mean_df.rename_axis(None)
diff_days_mean_df = diff_days_mean_df.rename_axis(None)

In [200]:
#Since they share same rows, joint them
join_amt_days = diff_amt_mean_df.merge(diff_days_mean_df, on='SK_ID_CURR', how='inner')

In [369]:
concat_with_features = concatted.merge(future_df, on='SK_ID_CURR', how='left')  \
            .merge(join_amt_days, on='SK_ID_CURR', how='left') \
            .merge(count_contract_status_df, on='SK_ID_CURR', how='left')

In [364]:
y_train = train.TARGET

In [264]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [370]:
concat_with_features_drop = concat_with_features.drop('SK_ID_CURR', axis=1)

In [371]:
dummied = pd.get_dummies(concat_with_features_drop)

In [372]:
imputed = my_imputer.fit_transform(dummied)

In [373]:
imputed_df = pd.DataFrame(imputed)
imputed_df.columns = dummied.columns

In [374]:
new_x_train_df = imputed_df[:x_train.shape[0]]
new_test_df = imputed_df[x_train.shape[0]:]

In [375]:
new_x_train_df['TARGET'] = train.TARGET

/home/pranay/tensorflow/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [376]:

train_zeros = new_x_train_df[new_x_train_df.TARGET == 0]
train_ones = new_x_train_df[new_x_train_df.TARGET == 1]
sampled_indices = np.random.choice(train_zeros.index, size=[11, train_ones.shape[0]], replace=False)
print 'shape of sampled indices is %s'%(str(sampled_indices.shape))
test_dropid = new_test_df
ensembled = np.zeros([11, test.shape[0]])
preds_list = []
for i in range(11):
    print 'starting %s th sample'%(str(i))
    new_train = pd.concat([train_zeros.loc[sampled_indices[i]], train_ones])
    train_y = new_train.TARGET
    train_x = new_train.drop(['TARGET'], axis=1)
    
    concatted = pd.concat([train_x, test_dropid])
    concatted_dummied = pd.get_dummies(concatted)
    imputed_concatted = my_imputer.fit_transform(concatted_dummied)
    imputed_concatted_df = pd.DataFrame(imputed_concatted)
    imputed_concatted_df.columns = concatted_dummied.columns
    #split them back to train and test
    train_x_after_impute = imputed_concatted_df[:train_x.shape[0]]
    test_x = imputed_concatted_df[train_x.shape[0]:]
    clf.fit(train_x_after_impute, train_y)
    preds = clf.predict_proba(test_x)
    pred_actual = preds[:,1]
    ensembled[i] = pred_actual

shape of sampled indices is (11, 24825)
starting 0 th sample
starting 1 th sample
starting 2 th sample
starting 3 th sample
starting 4 th sample
starting 5 th sample
starting 6 th sample
starting 7 th sample
starting 8 th sample
starting 9 th sample
starting 10 th sample

In [378]:
#x_resampled, y_resampled = SMOTE().fit_sample(new_x_train, y_train)

In [379]:
meaned = np.mean(ensembled, axis=0)

In [281]:
meaned.shape

(48744,)

In [142]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()

In [193]:
clf.fit(x_resampled, y_resampled)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [203]:
preds = clf.predict_proba(new_test)
pred_actual = preds[:,1]

In [ ]:
assert len(not_included) == test.shape[0] - test_merged.shape[0]

In [380]:
preds_df = pd.DataFrame(meaned)
subm = pd.concat([test.SK_ID_CURR, preds_df], axis=1)
subm.columns = ['SK_ID_CURR', 'TARGET']

In [381]:
subm_csv = subm.to_csv('submission.csv', sep=',', index=False)

In [382]:
%mv submission.csv /home/pranay/Downloads/

In [266]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [227]:
assert new_train.shape[0] == train_ones.shape[0] * 2

In [147]:
floats = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'float64']
ints = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'int64']
objectly = less_nulls_concat.loc[:,less_nulls_concat.dtypes == 'object']

In [94]:
floats = floats.fillna(floats.mean())
ints = ints.fillna(ints.mean())

In [101]:
assert floats.shape[0] == concatted.shape[0]

In [ ]:
get_nulls(ints)

In [243]:
pred_actual_df = pd.DataFrame(pred_actual)

In [244]:
subm = pd.concat([test.SK_ID_CURR, pred_actual_df], axis=1)

In [245]:
subm.columns = ['SK_ID_CURR', 'TARGET']

In [246]:
subm.columns

Index([u'SK_ID_CURR', u'TARGET'], dtype='object')

In [247]:
subm_csv = subm.to_csv('submission.csv', sep=',', index=False)

In [123]:
%cp sample_submission.csv /home/pranay/Downloads/

In [105]:
sample = pd.read_csv('sample_submission.csv', sep=',')

In [104]:
subm.shape

(48744, 2)

In [ ]:
# sample
subm.TARGET.value_counts().plot.bar()

In [58]:
train_y.value_counts()

0    282686
1    24825
Name: TARGET, dtype: int64

In [187]:
imputed_concatted.shape

(356255, 245)

In [ ]:
get_nulls(concatted_dummied)

In [ ]:
get_nulls(ints)

In [ ]:
objectly = objectly.fillna(objectly.mode())

In [130]:
get_nulls(objectly)

CODE_GENDER                   0.000000
EMERGENCYSTATE_MODE           47.147128
FLAG_OWN_CAR                  0.000000
FLAG_OWN_REALTY               0.000000
FONDKAPREMONT_MODE            68.235393
HOUSETYPE_MODE                49.940632
NAME_CONTRACT_TYPE            0.000000
NAME_EDUCATION_TYPE           0.000000
NAME_FAMILY_STATUS            0.000000
NAME_HOUSING_TYPE             0.000000
NAME_INCOME_TYPE              0.000000
NAME_TYPE_SUITE               0.618377
OCCUPATION_TYPE               31.437032
ORGANIZATION_TYPE             0.000000
WALLSMATERIAL_MODE            50.591290
WEEKDAY_APPR_PROCESS_START    0.000000
dtype: float64

In [131]:
objectly.EMERGENCYSTATE_MODE.fillna(objectly.EMERGENCYSTATE_MODE.mode())

0        No
1        No
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       No
13       No
14       No
15       NaN
16       NaN
17       NaN
18       No
19       NaN
20       No
21       NaN
22       No
23       No
24       No
25       No
26       Yes
27       NaN
28       NaN
29       No
         ..
48714    No
48715    NaN
48716    No
48717    NaN
48718    No
48719    No
48720    No
48721    NaN
48722    NaN
48723    NaN
48724    No
48725    NaN
48726    NaN
48727    No
48728    NaN
48729    NaN
48730    NaN
48731    No
48732    No
48733    No
48734    NaN
48735    No
48736    No
48737    No
48738    No
48739    NaN
48740    NaN
48741    No
48742    No
48743    NaN
Name: EMERGENCYSTATE_MODE, Length: 356255, dtype: object

In [ ]:
msno.matrix(objectly)

In [ ]:
less_nulls_concat.dtypes.value_counts()

In [ ]:
concatted.loc[:, concatted[less]

In [67]:
assert concatted.shape[0] == train.shape[0] + test.shape[0]

In [ ]:
credit_card_balance.head()

In [45]:
credit_card_balance[credit_card_balance.SK_ID_CURR == 186401].sort_values(by='MONTHS_BALANCE').head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
2019431,1440617,186401,-96,22737.915,112500,0.0,0.0,0.0,0.0,6750.0,96750.0,96750.0,19811.34,22737.915,22737.915,0.0,0,0.0,0.0,15.0,Active,0,0
1476656,2243411,186401,-96,47700.000,180000,45000.0,45000.0,0.0,0.0,NaN,0.0,0.0,45000.00,48996.000,48996.000,2.0,2,0.0,0.0,NaN,Active,0,0
1803594,1440617,186401,-95,30.375,112500,0.0,0.0,0.0,0.0,6750.0,25290.0,25290.0,0.00,0.000,0.000,0.0,0,0.0,0.0,16.0,Active,0,0
2284738,2243411,186401,-95,180277.650,180000,135000.0,135000.0,0.0,0.0,9000.0,9000.0,9000.0,174996.00,178981.650,178981.650,8.0,8,0.0,0.0,1.0,Active,0,0
1473970,2243411,186401,-94,175450.725,180000,0.0,0.0,0.0,0.0,9000.0,9000.0,9000.0,169981.65,175450.725,175450.725,0.0,0,0.0,0.0,2.0,Active,0,0

In [23]:
count_credit = credit_card_balance.groupby('SK_ID_CURR').SK_ID_CURR.count().sort_values(ascending=False).to_frame()

In [ ]:
credit_card_balance.groupby('SK_ID_PREV').SK_ID_PREV.count().sort_values(ascending=False)

In [31]:
count_credit = credit_card_balance.groupby('SK_ID_CURR').SK_ID_CURR.count().sort_values(ascending=False)

In [ ]:
count_credit

In [24]:
count_credit['COUNT'] = count_credit.SK_ID_CURR

In [25]:
count_credit['SK_ID_CURR'] = count_credit.index

In [121]:
merged = pd.merge(train, count_credit, how='inner', on='SK_ID_CURR')

In [26]:
merge_test = pd.merge(test, count_credit, how='inner', on='SK_ID_CURR')

In [ ]:
assert merge_test.shape[0] == test.shape[0]

In [122]:
merged.columns

Index([u'SK_ID_CURR', u'TARGET', u'NAME_CONTRACT_TYPE', u'CODE_GENDER',
       u'FLAG_OWN_CAR', u'FLAG_OWN_REALTY', u'CNT_CHILDREN',
       u'AMT_INCOME_TOTAL', u'AMT_CREDIT', u'AMT_ANNUITY',
       ...
       u'FLAG_DOCUMENT_19', u'FLAG_DOCUMENT_20', u'FLAG_DOCUMENT_21',
       u'AMT_REQ_CREDIT_BUREAU_HOUR', u'AMT_REQ_CREDIT_BUREAU_DAY',
       u'AMT_REQ_CREDIT_BUREAU_WEEK', u'AMT_REQ_CREDIT_BUREAU_MON',
       u'AMT_REQ_CREDIT_BUREAU_QRT', u'AMT_REQ_CREDIT_BUREAU_YEAR', u'COUNT'],
      dtype='object', length=123)

In [123]:
merged.COUNT.isnull().value_counts()

False    86905
Name: COUNT, dtype: int64

In [ ]:
[ col for col in credit_card_balance.SK_ID_CURR.unique() if col not in train.SK_ID_CURR ]

In [11]:
train.TARGET.value_counts()

0    282686
1     24825
Name: TARGET, dtype: int64

In [43]:
def get_description_of_columns(df):
    for col in df.columns[2:]:
        print col, descriptions[descriptions.Row == str(col)].Description.values

In [ ]:
get_description_of_columns(credit_card_balance)

In [ ]:
for col in credit_card_balance.columns[2:]:
    print col, descriptions[descriptions.Row == str(col)].Description.values

In [39]:
descriptions.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [ ]:
train.groupby(['TARGET'])['NAME_CONTRACT_TYPE'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['CODE_GENDER'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['FLAG_OWN_CAR'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['FLAG_OWN_REALTY'].value_counts(normalize=True)

In [ ]:
train.groupby(['TARGET'])['CNT_CHILDREN'].value_counts(normalize=True)

In [ ]:
msno.matrix(train[:10000])

In [ ]:
train.head()

In [30]:
train.shape

(307511, 122)

In [58]:
nulls = train.isnull().sum() * 100/train.shape[0]

In [50]:
null_test = test.isnull().sum() * 100/test.shape[0]

In [51]:
above_fifty_null_test = null_test[null_test > 50].index

In [61]:
less_nulls_test = null_test[null_test < 50].index
less_nulls_train = null_test[null_test < 50].index

In [ ]:
msno.matrix(test[less_nulls_test])

In [ ]:
msno.matrix(train[less_nulls_train])

In [52]:
above_fifty_null_test

Index([u'OWN_CAR_AGE', u'BASEMENTAREA_AVG', u'YEARS_BUILD_AVG',
       u'COMMONAREA_AVG', u'ELEVATORS_AVG', u'FLOORSMIN_AVG', u'LANDAREA_AVG',
       u'LIVINGAPARTMENTS_AVG', u'NONLIVINGAPARTMENTS_AVG',
       u'NONLIVINGAREA_AVG', u'BASEMENTAREA_MODE', u'YEARS_BUILD_MODE',
       u'COMMONAREA_MODE', u'ELEVATORS_MODE', u'FLOORSMIN_MODE',
       u'LANDAREA_MODE', u'LIVINGAPARTMENTS_MODE', u'NONLIVINGAPARTMENTS_MODE',
       u'NONLIVINGAREA_MODE', u'BASEMENTAREA_MEDI', u'YEARS_BUILD_MEDI',
       u'COMMONAREA_MEDI', u'ELEVATORS_MEDI', u'FLOORSMIN_MEDI',
       u'LANDAREA_MEDI', u'LIVINGAPARTMENTS_MEDI', u'NONLIVINGAPARTMENTS_MEDI',
       u'NONLIVINGAREA_MEDI', u'FONDKAPREMONT_MODE'],
      dtype='object')

In [ ]:
above_fifty_nulls = nulls[nulls > 50].index
above_fifty_nulls

In [ ]:
[ col for col in above_fifty_nulls if col not in above_fifty_null_test ]

In [57]:
remove_nulls = train.drop(above_fifty_nulls, axis=1)

In [58]:
assert remove_nulls.shape[1] == train.shape[1] - above_fifty_nulls.shape[0]

In [ ]:
msno.matrix(remove_nulls)

In [ ]:
msno.matrix(remove_nulls.iloc[:100, 40:60])

In [ ]:
remove_nulls.isnull().sum() * 100 /(remove_nulls.shape[0])

In [ ]:
for col in remove_nulls.columns[remove_nulls.dtypes == 'object'].values:
    print remove_nulls.groupby(['TARGET'])[str(col)].value_counts(normalize=True)

In [79]:
remove_nulls.dtypes.value_counts()

int64      41
float64    27
object     13
dtype: int64

In [8]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
for col in previous_application.columns.values:
    print col, descriptions[descriptions.Row == str(col)].Description.unique()

In [46]:
previous_application[previous_application.columns[previous_application.dtypes == 'float64'].values].head()

,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,CNT_PAYMENT,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,1730.430,17145.0,17145.0,0.0,17145.0,0.0,0.182832,0.867336,12.0,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,25188.615,607500.0,679671.0,NaN,607500.0,NaN,NaN,NaN,36.0,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,15060.735,112500.0,136444.5,NaN,112500.0,NaN,NaN,NaN,12.0,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,47041.335,450000.0,470790.0,NaN,450000.0,NaN,NaN,NaN,12.0,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,31924.395,337500.0,404055.0,NaN,337500.0,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
previous_application[previous_application.columns[previous_application.dtypes == 'float64']].isnull().sum()

AMT_ANNUITY                  372235
AMT_APPLICATION              0
AMT_CREDIT                   1
AMT_DOWN_PAYMENT             895844
AMT_GOODS_PRICE              385515
RATE_DOWN_PAYMENT            895844
RATE_INTEREST_PRIMARY        1664263
RATE_INTEREST_PRIVILEGED     1664263
CNT_PAYMENT                  372230
DAYS_FIRST_DRAWING           673065
DAYS_FIRST_DUE               673065
DAYS_LAST_DUE_1ST_VERSION    673065
DAYS_LAST_DUE                673065
DAYS_TERMINATION             673065
NFLAG_INSURED_ON_APPROVAL    673065
dtype: int64

In [60]:
previous_application.SK_ID_PREV.value_counts().head()

1000983    1
2428426    1
1026910    1
1024863    1
2448896    1
Name: SK_ID_PREV, dtype: int64

In [52]:
895844 * 100 / previous_application.shape[0]

53.636480115721696

In [61]:
pos_cash_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

In [28]:
previous_application.dtypes.value_counts()

object     16
float64    15
int64      6
dtype: int64

In [10]:
descriptions.head()

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,"Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)",NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN

In [9]:
descriptions[descriptions.Row == 'AMT_GOODS_PRICE']

,Unnamed: 0,Table,Row,Description,Special
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the goods for which the loan is given,NaN
180,183,previous_application.csv,AMT_GOODS_PRICE,Goods price of good that client asked for (if applicable) on the previous application,NaN

In [ ]:
for col in remove_nulls.columns[remove_nulls.dtypes == 'float64']:
    if (col != 'SK_ID_CURR') and (col != 'TARGET'):
        print remove_nulls.groupby(['TARGET'])[str(col)].mean()

In [ ]:
#getting columns with missing values granular
ranges = [(0,30),(30,60), (60, 120)]

for i in ranges:
    msno.matrix(remove_nulls.iloc[:100, i[0]:i[1]])

In [116]:
remove_nulls.OCCUPATION_TYPE.isnull().value_counts(normalize=True)

False    0.686545
True     0.313455
Name: OCCUPATION_TYPE, dtype: float64

In [129]:
nulls = remove_nulls.isnull().sum() * 100/train.shape[0]

In [136]:
null_cols = nulls[nulls > 30].index.values

In [ ]:
#dtypes of null cols in remove_nulls data frame
for col in null_cols:
    print col, remove_nulls[str(col)].dtype

In [ ]:
#dtypes of missing cols in train
for col in nulls[nulls > 50].index.values:
    print col, train[str(col)].dtypes

In [151]:
pos_cash_balance.isnull().sum()

SK_ID_PREV               0
SK_ID_CURR               0
MONTHS_BALANCE           0
CNT_INSTALMENT           26071
CNT_INSTALMENT_FUTURE    26087
NAME_CONTRACT_STATUS     0
SK_DPD                   0
SK_DPD_DEF               0
dtype: int64

In [147]:
previous_application.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,Y,1,0.0,0.182832,0.867336,XAP,Approved,-73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,Country-wide,35,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,-1,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,Y,1,NaN,NaN,NaN,XNA,Approved,-301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,Y,1,NaN,NaN,NaN,XNA,Approved,-512,Cash through the bank,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,Y,1,NaN,NaN,NaN,Repairs,Refused,-781,Cash through the bank,HC,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
previous_application.SK_ID_CURR.value_counts().head()

187868    77
265681    73
173680    72
242412    68
206783    67
Name: SK_ID_CURR, dtype: int64

In [153]:
previous_application.isnull().sum()

SK_ID_PREV                     0
SK_ID_CURR                     0
NAME_CONTRACT_TYPE             0
AMT_ANNUITY                    372235
AMT_APPLICATION                0
AMT_CREDIT                     1
AMT_DOWN_PAYMENT               895844
AMT_GOODS_PRICE                385515
WEEKDAY_APPR_PROCESS_START     0
HOUR_APPR_PROCESS_START        0
FLAG_LAST_APPL_PER_CONTRACT    0
NFLAG_LAST_APPL_IN_DAY         0
RATE_DOWN_PAYMENT              895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE         0
NAME_CONTRACT_STATUS           0
DAYS_DECISION                  0
NAME_PAYMENT_TYPE              0
CODE_REJECT_REASON             0
NAME_TYPE_SUITE                820405
NAME_CLIENT_TYPE               0
NAME_GOODS_CATEGORY            0
NAME_PORTFOLIO                 0
NAME_PRODUCT_TYPE              0
CHANNEL_TYPE                   0
SELLERPLACE_AREA               0
NAME_SELLER_INDUSTRY           0
CNT_PAYMENT                    372230
NAME_YIELD_GROUP               0
PRODUCT_COMBINATION            346
DAYS_FIRST_DRAWING             673065
DAYS_FIRST_DUE                 673065
DAYS_LAST_DUE_1ST_VERSION      673065
DAYS_LAST_DUE                  673065
DAYS_TERMINATION               673065
NFLAG_INSURED_ON_APPROVAL      673065
dtype: int64

In [152]:
credit_card_balance.isnull().sum()

SK_ID_PREV                    0
SK_ID_CURR                    0
MONTHS_BALANCE                0
AMT_BALANCE                   0
AMT_CREDIT_LIMIT_ACTUAL       0
AMT_DRAWINGS_ATM_CURRENT      749816
AMT_DRAWINGS_CURRENT          0
AMT_DRAWINGS_OTHER_CURRENT    749816
AMT_DRAWINGS_POS_CURRENT      749816
AMT_INST_MIN_REGULARITY       305236
AMT_PAYMENT_CURRENT           767988
AMT_PAYMENT_TOTAL_CURRENT     0
AMT_RECEIVABLE_PRINCIPAL      0
AMT_RECIVABLE                 0
AMT_TOTAL_RECEIVABLE          0
CNT_DRAWINGS_ATM_CURRENT      749816
CNT_DRAWINGS_CURRENT          0
CNT_DRAWINGS_OTHER_CURRENT    749816
CNT_DRAWINGS_POS_CURRENT      749816
CNT_INSTALMENT_MATURE_CUM     305236
NAME_CONTRACT_STATUS          0
SK_DPD                        0
SK_DPD_DEF                    0
dtype: int64

In [154]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,AMT_PAYMENT_TOTAL_CURRENT,AMT_RECEIVABLE_PRINCIPAL,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,1800.0,1800.0,0.000,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,2250.0,2250.0,60175.080,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,2250.0,2250.0,26926.425,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,11925.0,11925.0,224949.285,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,27000.0,27000.0,443044.395,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0